<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/context/spring-util-3.1.xsd">
    
    <!-- all from relative path : ie: where this file is -->
    <import resource="classpath:/conf/spring/main/spring-beans-setupProperties.xml" />
    <import resource="classpath:/conf/spring/main/spring-beans-webservices-*.xml" />
   
    <bean id ="beanTestBusinessService"
          class="com.hanaden.demo.jpaspringmvc.service.business.impl.TestBusinessServiceImpl">
        <property name="carDao" ref="beanCarDao" />
    </bean>
    
    <!--l-->
    
    <!--===============-->
    <context:spring-configured />
    <context:annotation-config />
    <context:component-scan base-package="com.hanaden"/>
   
    <!--===============-->
    <!-- Spring bean configuration. Tell Spring to bounce off BoneCP -->
    <bean id="beanLazyDatasourceBasicTest"
          class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource">
            <ref local="beanDatasourceBasicTest" />
        </property>
    </bean>
    
    <!-- BoneCP configuration -->
    <bean id="beanDatasourceBasicTest" destroy-method="close"
          class="com.jolbox.bonecp.BoneCPDataSource">
        <property name="driverClass" value="org.h2.Driver" />
        <property name="jdbcUrl" value="jdbc:h2:mem:basicTestDb" />
        <property name="username" value="username"/>
        <property name="password" value="userpassword"/>
        <!--<property name="idleConnectionTestPeriod" value="60"/>-->
        <!--<property name="idleMaxAge" value="240"/>-->      
        <property name="maxConnectionsPerPartition" value="60"/>
        <property name="minConnectionsPerPartition" value="20"/>
        <property name="partitionCount" value="3"/>
        <property name="acquireIncrement" value="10"/>                              
        <property name="statementsCacheSize" value="50"/>
        <property name="releaseHelperThreads" value="3"/>
    </bean>
           
    <!--===============-->
    <context:component-scan base-package="com.hanaden">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Repository" />
    </context:component-scan>
    <!--    <bean id="beanTransactionManagerBasicTest"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="entityManagerFactory"/>
    </bean>-->
    <!--    <bean id="beanTransactionManagerBasicTest"
    class="org.springframework.orm.jpa.JpaTransactionManager" />-->
    <!--p:transactionManager-ref="transactionManager" />-->
    <bean
        class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	  
    <tx:annotation-driven mode="aspectj"
                          transaction-manager="transactionManager" />
        
    <!--=-->
    <bean id="beanTransactionManagerBasicTest"
          class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="beanEntityManagerFactory"/>
	 
    <bean id="beanEntityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="beanLazyDatasourceBasicTest">
        <!--p:jpaVendorAdapter-ref="jpaAdapter">-->
        <property name="loadTimeWeaver">
            <bean
                class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
        <!--<property name="persistenceUnitName" value="JpaPersistenceUnit"></property>-->
    </bean>
    
    <!--=-->
    <bean id="beanCarDao" 
          class="com.hanaden.demo.jpaspringmvc.persistence.hibernate.CarDaoJpaImpl">
        <!--<property name="">-->
    </bean>
    
</beans>
